body {
    font-family: 'Montserrat', sans-serif; /* font */
    margin: 0;
    background: #e8f5e9; /* groen */
}

header {
    background: #97d79a; /* kleur */
    color: hsl(135, 53%, 29%);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.subtitle {
    width: 100%;
    margin: 0;
    font-size: 0.9rem;
}

input, select {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}

#kaartenContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* grid */
    gap: 1rem;
    padding: 1rem;
}

.kaart {
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.kaart img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.inhoud {
    padding: 1rem;
}

button {
    margin-top: 0.5rem;
    padding: 0.5rem;
    background: #2e7d32;
    color: white;
    border: none;
}

#favorietenContainer {
    background: #fffde7;
    padding: 1rem;
}

.favItem {
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center; /* Tekst in het midden */
    padding: 1rem;
    background: #a5d6a7; /* Zelfde pastelgroen als header */
    color: #1b5e20;
    margin-top: 2rem;
}